.box {
	background: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
	color: var(--mainWhite);
}
.box button {
	position: relative;
	display: flex;
	color: var(--primary);
	font-size: 1.7rem;
	background: var(--mainWhite);
	border: none;
	border-radius: 10px;
	padding: 0.5rem;
	cursor: pointer;
	transition: opacity 0.3s linear;
	&:hover {
		opacity: 95%;
	}
}
.box a {
	transition: opacity 0.3s linear;
	color: var(--mainWhite);
}
.box h2 a {
	text-decoration: underline;
}
.quantity {
	width: 20px;
	height: 20px;
	position: absolute;
	top: -7px;
	right: -10px;
	background-color: var(--mainWhite);;
	border: var(--primary) 1px solid;
	border-radius: 50%;
	font-size: 1rem;
}
