.productsList {
	margin: 1rem 0;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 1rem 1rem;
	grid-template-areas: ". . . .";
}

/* Responsive Grid */
@media only screen and (max-width: 1000px) {
	.productsList {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: ". . .";
	}
}
@media only screen and (max-width: 700px) {
	.productsList {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: ". .";
	}
}
@media only screen and (max-width: 500px) {
	.productsList {
		grid-template-columns: 1fr;
		grid-template-areas: ".";
	}
}
