.details {
	display: flex;
	justify-content: space-between;
}
.details img {
	width: 200px;
}
.left{
	height: fit-content;
	background: var(--mainWhite);
	border: dashed 3px var(--primary);
	border-radius: 10px;
	padding: .5rem .8rem;
	width: 18%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.left img {
	margin-bottom: 1rem;
	width: 150px;
	height: 150px;
}