.card {
	background: var(--mainWhite);
	border-radius: 10px;
	border: dashed #ccc 2px;
	padding: 1rem 0.9rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.card img {
	width: 100px;
	height: 100px;
	margin: 1.5rem 0 1rem;
}
.card h5 {
	font-size: 1.2rem;
	color: var(--primary);
}
.card p {
	font-size: 0.8rem;
	font-weight: bold;
}
.detailes button {
	background: transparent;
	color: var(--primary);
}
